.banner {
	background-image:url("https://i.pinimg.com/originals/97/ee/0d/97ee0d2cc04fac5318a3997c32ed3c66.jpg");
	background-size: cover;
	background-position: center;
	color: black;
	padding: 150px 0px;
}